<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="homepage.css">

        <title>Viva Marking System</title>
    </head>
    <body>
      <%- include('./partials/nav.ejs') %>
          <div class="allExceptHeader">
        <h1>Are you a - </h1>
        <button><a href="/teachers">Teacher</a> </button>
        <button><a href="/students">Student</a></button>
          </div>
    </body>
    </html>