<html lang="en">
    <%- include('./partials/head.ejs') %>
        <body>
            <%- include('./partials/nav.ejs') %>
         
    
          <div class="submittedList">
              <table>
                  
                  <tr><th>ID Number</th><th>TimeStamp</th></tr> 
                 <% if(vivaSystem == 'empty_db') {%>
                    <tr id='student-data'>
                       
                        
                   </tr>
                    <% } else { %>
                  <% vivaSystem.forEach(viva => { %>
                 <tr id='student-data'>
                     <!-- <td class="idText"><%= viva.idNumber %></td> -->
                     <!-- <td class="timeText"><%= viva.time %></td> -->
                </tr>
                
                 </div>  
                 <% }) } %>

                
    
            </table>
          </div>
          <!-- <script type="text/javascript" src="/axios.min.js"></script> -->
          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
          <script src="browser_file_students.js"></script>
    </body>
        </html>