<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="students.css">
            
            <title>Students</title>
        </head>
        <body>
            <%- include('./partials/nav.ejs') %>
         
    
          <div class="submittedList">
              <table>
                  
                  <tr><th>ID Number</th><th>TimeStamp</th></tr> 
                 
                  <% vivaSystem.forEach(viva => { %>
                 <tr><td><%= viva.idNumber %></td><td><%= viva.time %></td></tr>`
                
                 </div>  
                 <% }) %>

                
    
            </table>
          </div>
    </body>
        </html>